/* === global settings === */

html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}

.container {
    width: 960px;
}

/* === header === */

header {
    background-color: cadetblue;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.logocontainer {
    display: flex;
    align-items: center;
    margin: auto 0;
}

.logowhite {
    height: 1.5rem;
    padding-left: 2rem;
}

.title {
    padding-left: 1rem;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    padding: 1rem 2rem;
}

.mobilenav {
    display: none;
}

/* === hero === */
.hero {
    background-image: url('../img/glasses-bg.png');
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.mission {
    display: flex;
    justify-content: flex-end;
    margin-top: 10rem;
    margin-right: -2rem;
}

.mission h1 {
    background-color:white;
    padding: 1.5rem 5rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
}

/* === services === */

.services {
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 8rem;
    width: 5rem;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 3rem;
    align-items: center;
}

.icon {
    max-width: 5rem;
}

.paper {
    max-width: 3.5rem;
}

.textbox {
    text-align: center;
    line-height: 1.4;
}

/* === products === */

.products {
    display: flex;
    justify-content: center;
}

.products .container {
    display: flex;
    justify-content: center;
    margin: 0 5%;
}

h4 {
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    width: 10rem;
    padding: 1.5rem 1.25rem;
    margin-bottom: 1rem;
}

.producttext {
    width: 35%;
    line-height: 1.4;
}

.philosophy {
    margin-right: 5%;
}

/* === footer === */

footer {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

footer .container {
    background-color: azure;
    display: flex;
    align-items: center;
    padding: 4rem;
}

.logoblack {
    height: 1.5rem;
}

.footertext {
    margin-left: 1rem;
}

/* === media queries === */

@media screen and (max-width: 1000px) {
    .container {
        width: 100%;
    }

    header {
        margin: 0;
    }

    .hero {
        height: 22rem;
        background-position: 
    }

    .mission {
        margin-top: 5rem;    
        margin-right: 2rem;
    }

    .mission h1 {
        padding: .75rem 4rem;
        font-size: 1.33rem;
    }
}

@media screen and (max-width: 740px) {
    .title {
        display: none;
    }

    .desktopnav {
        display: none;
    }

    .mobilenav {
        display: initial;
    }

    .hero {
        background-position: 20%;
        height: 17rem;
    }

    .mission {
        margin-top: 9rem;
        margin-right: 0;
    }

    .mission h1 {
        padding: 1rem;
        font-size: 1rem;
        text-align: center;
        width: 100%;
    }

    .services {
        margin: 3.77rem auto;
        flex-direction: column;
        height: initial;
    }

    .service {
        margin-top: 1.55rem;
    }

    .products {
        display: block;
        width: 100%;
    }

    .products .container {
        display: block;
        margin: 0;
    }

    h4 {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        padding-left: 0;
        text-align: center;
    }

    .philosophy {
        margin: 0;
    }

    .product {
        margin-bottom: 4rem; 
    }

    .producttext {
        font-size: 0.77rem;
    }

    .footertext {
        display: none;
    }

    footer .container {
        justify-content: center;
    }
}